@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(58% 0.158 241.966);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(71% 0.202 349.761);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(81% 0.111 293.571);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(20% 0.042 265.755);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(86% 0.127 207.078);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(81% 0.117 11.638);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
